/* CATEGORY */

a.card p.text--truncate {
  overflow: unset;
  white-space: normal;
}

a.card.type span.theme-doc-card-icon {
  display: none;
}

a.card.type span.theme-doc-card-title {
  width: 100%;
}

a.card.type span.theme-doc-card-title::before {
  content: "";
  background-color: var(--ifm-menu-color);
  width: 2rem;
  height: 2rem;
  vertical-align: top;
  float: right;
  mask-size: 2rem 2rem;
}