/* TYPE DETAILS */

.typeDetails {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ifm-color-emphasis-300);
  margin-bottom: 15px;
  border-radius: var(--ifm-alert-border-radius);
  width: 100%;
  overflow: clip;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
}

.typeDetails dl {
  display: grid;
  grid-template-columns: max-content auto;
}

.typeDetails dt {
  line-height: normal;
  margin-left: var(--ifm-global-spacing);
  grid-column-start: 1;
  color: var(--ifm-menu-color);
  font-weight: var(--ifm-font-weight-semibold);
}

.typeDetails dd {
  line-height: normal;
  grid-column-start: 2;
  margin-right: var(--ifm-global-spacing);
  overflow-wrap: anywhere;
}

.typeDetails dd.base {
  color: var(--ifm-navbar-link-hover-color);
}

.typeDetails dd.base-primitive {
  font-style: italic;
}

.typeDetails dd.type {
  font-weight: 600;
}

.typeDetails dd.headerFile {

  font-family: var(--ifm-font-family-monospace);
  margin-top: auto;
}

.typeDetailsIcon {
  float: left;
  width: 5rem;
  border-top-left-radius: var(--ifm-alert-border-radius);
  border-bottom-left-radius: var(--ifm-alert-border-radius);
  background-color: var(--ifm-color-emphasis-300);
  display: flex;
  align-items: center;
}

.typeDetailsIcon p.type {
  width: 3rem;
  height: 3rem;
  content: "";
  background-color: var(--ifm-navbar-link-hover-color);
  margin: auto;
  mask-size: 3rem 3rem;
}

.typeDetailsIcon img {
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
  height: 4rem;
}

.typeDetails span {
  color: var(--ifm-color-emphasis-300);
  font-weight: normal;
}