/* VERSION BADGE */

.badge-header {
  margin-left: 0.5em;
}

.badge-main,
.badge-main a:link,
.badge-main a:hover,
.badge-main a:visited {
  background-color: var(--ifm-color-warning-dark);
  color: var(--ifm-font-color-base);
  text-decoration: none;
}